<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (pokemon()) {
    <h2>{{ pokemon().name }}</h2>
    <img [src]="pokemon().sprites.front_default" />
    <ion-list>
      @for ( stat of pokemon().stats; track $index) {
        <ion-item>{{ stat.stat.name }}: {{ stat.base_stat }}</ion-item>
      }
      @for ( type of pokemon().types;track $index) {
        <ion-item>Tipo: {{ type.type.name }}</ion-item>
      }
      @for ( ability of pokemon().abilities;track $index) {
        <ion-item>Habilidade: {{ ability.ability.name }}</ion-item>
      }
    </ion-list>
  }
  <ion-button expand="full" (click)="previousPage()">Voltar</ion-button>
</ion-content>
