<ion-header>
  <ion-searchbar placeholder="Search pokémon"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      @for (pokemon of pokemonService.pokemons(); track $index) {
      <ion-col size-sm="6" size-xs="12" size-md="3" >
        <app-pokemon-card
          [pokemon]="pokemon"
          (click)="goToDetails(pokemon)"
        ></app-pokemon-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="previousPage()">Anterior</ion-button>
  <ion-button expand="full" (click)="nextPage()">Próxima</ion-button>
</ion-content>
