<ion-header>
  <div class="custom-searchbar">
    <ion-searchbar
      placeholder="Search your Pokèmon!"
      mode="md"
      showCancelButton="never"
      class="search-input"
    ></ion-searchbar>
    <div class="search-icon">
      <img src="assets/icon-pokeball.svg" class="pokeball-img" />
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      @for (pokemon of pokemonService.pokemons(); track $index) {
      <ion-col size="6">
        <app-pokemon-card
          [pokemon]="pokemon"
          (click)="goToDetails(pokemon)"
        ></app-pokemon-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="previousPage()">Anterior</ion-button>
  <ion-button expand="full" (click)="nextPage()">Próxima</ion-button>
</ion-content>
